<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<link rel='stylesheet' href='/stylesheets/style.css' />


<body>
    <div class="gallery">
        <a target="_self" href="/getDetails">
            <img src="/images/my_pic.jpg" alt="Abib Mishael" width="600" height="400">
        </a>
        <div class="desc">Abib Mishael P</div>
    </div>
</body>