<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="polaroid">
    <img src="/images/my_pic.jpg" alt="5 Terre" style="width:100%">
    <div class="container">
      <p>Cinque Terre</p>
    </div>
  </div>

</body>

</html>